<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a218b690-0e0c-45ff-bf42-06678226c7ff/resourcegroups/NetworkWatcherRG/providers/Microsoft.Web/sites/HelsiPrototype</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://helsiprototype.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6d481483-d2bc-44e1-acf8-ff50d32c0c6e</ProjectGuid>
    <PublishUrl>https://helsiprototype.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HelsiPrototype</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>